/* hero image modifed from a photo by Seth Sawyers (https://www.flickr.com/photos/sidewalk_flying/2732582681/) */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i');

* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16pt;
	color: #222;
}

a, a:link, a:visited {
	color: dodgerblue;
	text-decoration: none;
}

a:hover, a:active, a:focus {
	color: blue;
	text-decoration: underline;
}

h1, h2 {
	font-size: 48pt;
}

h3 {
	font-size: 24pt;
}

h4 {
	font-size: 16pt;
	font-weight: 300;
	font-style: italic;
}

body {
	background-image: url('img/cream_dust.png');
}

#manifesto {
	padding: 1em 0;
}

#manifesto p {
	max-width: 800px;
	margin: 1em auto;
	font-weight: 300;
	color: #222;

	font-size: 24pt;
}

#publications .paper {
	max-width: 800px;
	margin: 1.5em auto;
}

#publications .paper ul {
	margin-left: 2em;
}

#people {
	background-image: url('img/cream_dust_dark.png');
	padding: 1em 0;
}

#people .person {
	max-width: 800px;
	margin: 1em auto;
}

#people h3, p {
	color: #eee;
}

#people h4 {
	color: #ccc;
}

@media (max-width: 800px) {
	#manifesto {
		background-image: url('img/seattle_small.jpg');
	}

	#manifesto p {
		padding: 0 1em;
	}

	#publications .paper {
		margin: 2em;
	}

	#people .person {
		margin: 2em;

		text-align: center;
	}

	#people .person img {
		margin: .5em;
		border-radius: 150px;
	}

	#people .person p {
		max-width: 400px;
		margin: auto;
		text-align: left;
	}
}

@media (min-width: 801px) {
	#manifesto {
		background-image: url('img/seattle.jpg');
	}

	#people .person {
		margin-top: 2em;
		overflow: hidden;
	}

	#people .person img {
		width: 100px;
		height: 100px;
		border-radius: 50px;
		margin-top: 1em;
		float: left;
	}

	#people .person p {
		margin-top: 1em;
		margin-left: 120px;
	}
}

@media (min-width: 1400px) {
	#manifesto {
		background-image: url('img/seattle_large.jpg');
	}
}